<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Portal de notícias</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
	
	  <!-- CSS EJS PAGE NOTICIAS -->
		<link rel="stylesheet" href="css/app.css">

		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
			
	</head>


</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
     
<!-- WASINFO SITE APLICATION -->
<div class="pageHome" mt-none>
	<div class="menuhomeContainer">
			<div class="loginBox">
					<img src="./images/home/web/login_24px.png" class="loginIcon">
					
					<a class="active" href="/login"><div class="loginLabel">Login</div></a>
					
				 <!-- <a ng-class="{active: activetab == '/login'}"><a href="/login" class="nm-bt"><div class="loginLabel">Login</div></a> -->
			</div>
	</div>

	<div class="topnav">
			<div class="nav nav-tabs">
					<a href="/" class="nm-bt">Home</a>
					<a href="/noticiapage" class="nm-bt">Notícias</a>
					<a ng-class="{active: activetab == '/servicos'}"><a href="/servicos" class="nm-bt">Serviços</a>
					<a ng-class="{active: activetab == '/contato'}"><a href="/contato" class="nm-bt">Contato</a>
					<a ng-class="{active: activetab == '/sobre'}"><a href="/sobre" class="nm-bt">Sobre</a>
			</div>
	</div>

	<div class="servicos">
		<div><h1>SERVIÇOS</h1>
	</div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>