body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.imgconstrucao{
  display: table;
  margin: auto;
}

.material-icons{
  margin: 5px 0px 0 10px;
  float: left;
}

.navbar-nav>li>a {
  padding-top: 12px;
/* padding-bottom: 10px; */
line-height: 14px;
padding-left: 40px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}