<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Portal de notícias</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">


  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>

  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

  <!-- incluindo css -->
  <link href="css/style.css" rel="stylesheet">

  <!-- incluindo css -->
  <link href="css/home.css" rel="stylesheet">


  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/portalnoticias">
            <img src="/images/logo.png" />
          </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/"> CADASTRAR NOTÍCIA </a>
            </li>
            <li>
              <a href="/">CONFIGURAR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

  <div class="imgconstrucao">
    <img src="/images/em_construcao.png">
  </div>

</body>

</html>