<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Portal de notícias</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	
  <!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

  <!-- CSS EJS PAGE NOTICIAS -->
	<link rel="stylesheet" href="css/app.css">
	
	<!-- CSS MENU TOPO -->
	<link rel="stylesheet" href="css/style.css">

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      
  <!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
     
<!-- WASINFO SITE APLICATION -->
<div class="pageHome" mt-none>
	<div class="menuhomeContainer">
			<div class="loginBox">
					<img src="./images/home/web/login_24px.png" class="loginIcon">
					
					<a class="active" href="/login"><div class="loginLabel">Login</div></a>
					
				 <!-- <a ng-class="{active: activetab == '/login'}"><a href="/login" class="nm-bt"><div class="loginLabel">Login</div></a> -->
			</div>
	</div>

	<div class="topnav">
			<div class="nav nav-tabs">
					<a href="/noticiapage" class="nm-bt">Notícias</a>
					<a ng-class="{active: activetab == '/servicos'}"><a href="/servicos" class="nm-bt">Serviços</a>
					<a ng-class="{active: activetab == '/contato'}"><a href="/contato" class="nm-bt">Contato</a>
					<a ng-class="{active: activetab == '/sobre'}"><a href="/sobre" class="nm-bt">Sobre</a>
			</div>
	</div>

<h3>Página inicial</h3>


        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
	

</body>

</html>