<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Portal de notícias</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
	
	  <!-- CSS EJS PAGE NOTICIAS -->
		<link rel="stylesheet" href="css/app.css">
		
		<!-- CSS MENU TOPO -->
		<link rel="stylesheet" href="css/home.css">
	
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
	
	</head>


</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
     
<!-- WASINFO SITE APLICATION -->
<div class="pageHome" mt-none>
	<div class="menuhomeContainer">
			<div class="loginBox">
					<img src="./images/home/web/login_24px.png" class="loginIcon">
					
					<a class="active" href="/login"><div class="loginLabel">Login</div></a>
					
				 <!-- <a ng-class="{active: activetab == '/login'}"><a href="/login" class="nm-bt"><div class="loginLabel">Login</div></a> -->
			</div>
	</div>

	<div class="topnav">
			<div class="nav nav-tabs">
					<a href="/" class="nm-bt">Home</a>
					<a href="/noticiapage" class="nm-bt">Notícias</a>
					<a ng-class="{active: activetab == '/servicos'}"><a href="/servicos" class="nm-bt">Serviços</a>
					<a ng-class="{active: activetab == '/contato'}"><a href="/contato" class="nm-bt">Contato</a>
					<a ng-class="{active: activetab == '/sobre'}"><a href="/sobre" class="nm-bt">Sobre</a>
			</div>
	</div>


	<div class="sobreNos" >
		<div>
				<p>
						A
						<strong>WASINFO System</strong> foi criada em janeiro de 2015, mas com experiencia de mais de 10 anos na area de
						indústria a
						<strong>WASINFO System</strong> tem como objetivo atender uma grande necessidade das empresas de pequeno e médio
						porte. Visto que hoje temos poderosas ferramentas para implantação de processos, porém sabemos que essas
						ferramentas nem sempre estão ao alcance das pequenas e medias empresas.</p>

				<p>Enchergando que ferramentas poderosas ajudam as grandes empresas a chegarem em altos patamares em resultados
						que colocam as pequenas e médias empresas em desvantagem comercial. O idealizadors da
						<strong>WASINFO System</strong> decidiram criar uma ferramenta que oferece aos clientes a facilidade de acessos as
						informações colocando-as nos mesmos patamares de tecnologia. Assim o nosso objetivo é dar a você a chance
						de ser competitivo. Sabendo que os acessos as informações são as principais armas no mercado então criamos
						um ERP onde suas informações serão suas principais armas no mercado.</p>
		</div>

		<div>
				<p>Porque a
						<strong>WASINFO System</strong>?</p>
				<p>1º Porque temos uma solução completa para suas empresa.</p>
				<p>2º Porque nossa ferramenta se adequa aos seus processos e não os processos a ferramenta.</p>
				<p>3º Porque temos uma solução eficaz e competitiva com um preço acessivel.</p>
		</div>

		<div>
				<strong>Missão</strong>
				<p>Ser uma empresa sustentável, pensando sempre na facilidade de acessos, criando soluções que retornem como resultado
						esperado a satisfação do cliente.
				</p>

				<strong>Visão</strong>
				<p>Criar uma solução que agregue valor ao negócio com o objetivo de retirar impedimentos em fluxos e alavancar o
						desenvolvimento de nossos clientes.
				</p>

				<strong>Valores</strong>
				<p>Honestidade, simplicidade, transparência, flexibilidades, respeito são valores que a
						<strong>WASINFO System</strong>
						não abre mão.
				</p>
		</div>
</div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>