<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Portal de notícias</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">

  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>

  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

  <!-- MATERIAL ICONS - link cdn -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- incluindo css -->
  <link href="css/app.css" rel="stylesheet">

  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/">
            <img src="/images/logo.png" />
          </a>
        </div>
      </div>
    </nav>
  </nav>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

  <div class="pageLogin">
    <form action="/autenticar" method="post">

      <div class="container">
          <% if(validacao.length > 0){ %>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <strong>Atenção!</strong>
                  <ul>
                    <% for(var i = 0; i < validacao.length; i++){ %>
                      <li>
                        <%= validacao[i].msg %>
                      </li>
                      <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <% } %>
            
        <div class="loginform">
          <div class="form-group">
            <label>
              <b>E-mail</b>
            </label>
            <span class="psw">Esqueceu seu
              <a href="#">e-mail?</a>
            </span>
            <input type="text" class="form-control" placeholder="Informe o login" name="login" >
          </div>

          <div class="form-group">
            <label>
              <b>Senha</b>
            </label>
            <span class="psw">Esqueceu sua
              <a href="#">senha?</a>
            </span>
            <input type="password" class="form-control" placeholder="Informe a senha" name="senha" >
          </div>

          <button type="submit" class="btn btn-sucess">Login</button>
          <span class="psw"><input type="checkbox" checked="checked"> Lembre-me</span>

        </div>

      </div>

  </div>

  </div>

</body>

</html>